body.default .article {
  --font-size-base: 16px;
  --font-size-base-mobile: 16px;
  --color-content: #242424;
  --color-title: #000;
  --color-heading-2: #111;
  --color-heading-3: #111;
  --color-heading-4: #111;
  --color-heading-5: #111;
  --color-heading-6: #111;
  --color-href: #2794c1;
  --color-box-bg: #2794c1;
  --color-box-content: #FFF;
  --color-table-bghead: #2794c1;
  --color-table-head: #fff;
  --color-table-bgbody: #FFF;
  --color-table-bgfoot: #88d2f1;
  --color-table-foot: #0a5c7e;
  --color-table-border: #2794c1;
  --color-tab-bg: #88d2f1;
  --color-tab-border: #0a5c7e;
  --color-tab-content: #0a5c7e;
  --color-tab-bg-hover: #2794c1;
  --color-tab-content-hover: #FFF;
}
body.default .article h2:before {
  content: "";
}
body.default .article h3:before {
  content: "";
}
body.default .article {
  font-size: var(--font-size-base);
  color: var(--color-content);
  padding: 30px 20px;
  font-family: var(--font-primary);
  margin: 0 auto;
}
@media (orientation:portrait) {
  body.default .article {
    font-size: var(--font-size-base-mobile);
  }
}
body.default .article__title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 0;
}
body.default .article__title, body.default .article h1 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4;
  border-bottom: 1px solid #46544f;
  color: var(--color-title);
  text-align: center;
}
body.default .article__meta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  font-size: 11;
  color: #7d8484;
}
@media (orientation:portrait) {
  body.default .article__meta {
    padding: 16px 20px;
  }
}
body.default .article__cate {
  display: block;
  padding: 4px;
  margin-right: 12px;
  color: var(--color-content);
  border-radius: 4px;
  font-size: 0.8em;
}
body.default .article__time {
  color: var(--color-content);
  font-size: 0.8em;
}
body.default .article__content {
  font-size: 1em;
  color: var(--color-content);
  line-height: 1.4;
}
body.default .article__content *:not(:only-child):not(li) {
  margin-bottom: 12px;
}
body.default .article__content *:not(:only-child):not(iframe):not(img) {
  margin-left: 0px;
}
body.default .article__content *:not(:only-child).table {
  width: calc(100% - 0px);
}
body.default .article__content ul {
  margin-left: 20px;
}
body.default .article__content ul li {
  list-style-position: outside;
  margin-bottom: 6px;
}
body.default .article__content ul li, body.default .article__content ul.bulleted li {
  list-style-type: disc;
}
body.default .article__content ul.numbered li {
  list-style-type: decimal;
}
body.default .article__content h2, body.default .article__content h3, body.default .article__content h4, body.default .article__content h5, body.default .article__content h6 {
  position: relative;
}
body.default .article__content h2:before, body.default .article__content h3:before, body.default .article__content h4:before, body.default .article__content h5:before, body.default .article__content h6:before {
  vertical-align: middle;
  display: inline-flex;
  position: absolute;
  right: calc(100% + 12px);
  top: 4px;
}
body.default .article__content h2 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4;
  color: var(--color-heading-2);
}
body.default .article__content h3 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.4;
  color: var(--color-heading-3);
}
body.default .article__content h4 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4;
  color: var(--color-heading-4);
}
body.default .article__content h5 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4;
  color: var(--color-heading-5);
}
body.default .article__content h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  color: var(--color-heading-6);
}
body.default .article__content a {
  color: var(--color-href);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s;
  border-bottom: 1px solid rgba(var(--color-href), 0.5);
}
body.default .article__content a:hover {
  border-bottom: 1px solid var(--color-href);
}
body.default .article__content a.hero {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-href);
  color: var(--color-href);
  font-weight: bold;
  padding: 20px;
}
body.default .article__content img, body.default .article__content iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto 12px;
}
body.default .article__content img + p.caption, body.default .article__content iframe + p.caption {
  display: block;
  max-width: calc(100% - 40px);
  margin: 0 auto 12px;
  font-style: italic;
  font-size: 0.8em;
  color: #888;
  text-align: center;
}
body.default .article__content img.float, body.default .article__content img.float--left {
  float: left;
  margin-right: 20px;
}
body.default .article__content img.float--right {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
body.default .article__content .callout {
  padding: 20px 20px;
  background: var(--color-box-bg);
  color: var(--color-box-content);
}
body.default .article__content .table {
  width: 100%;
}
@media (max-width: 700px) {
  body.default .article__content .table {
    overflow: auto;
  }
}
@media (orientation:portrait) {
  body.default .article__content .table {
    overflow: auto;
  }
}
body.default .article__content table {
  width: 100%;
}
body.default .article__content table td {
  padding: 8px;
  border: 1px solid var(--color-table-border);
  vertical-align: middle;
}
body.default .article__content table td img {
  max-width: 100%;
  margin: 0 auto 0;
}
body.default .article__content table thead {
  background: var(--color-table-bghead);
  color: var(--color-table-head);
  font-weight: bold;
}
body.default .article__content table thead tr {
  border: 1px solid var(--color-table-border);
}
body.default .article__content table thead tr th {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}
body.default .article__content table tbody tr td {
  background: rgba(var(--color-table-bgbody), 0.5);
}
body.default .article__content table tfoot {
  background: var(--color-table-bgfoot);
  color: var(--color-table-foot);
}
body.default .article__content.articleAccordionContent {
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  opacity: 0.4;
}
body.default .article__content.articleAccordionContent.active {
  height: auto;
  opacity: 1;
  transition: all 0s;
}
body.default .article__tab {
  margin-bottom: 40px;
}
body.default .article__tab ul {
  border-bottom: 1px solid;
  border-color: var(--color-tab-border);
  display: flex;
  justify-content: flex-start;
}
body.default .article__tab ul li {
  margin: 0 4px;
}
body.default .article__tab ul li a {
  display: block;
  padding: 10px 16px;
  background: var(--color-tab-bg);
  color: var(--color-tab-content);
  text-decoration: none;
}
body.default .article__tab ul li a.active, body.default .article__tab ul li a:hover {
  background: var(--color-tab-bg-hover);
  color: var(--color-tab-content-hover);
}
body.default .article__tab ul li a.active {
  font-weight: bold;
}
body.default .subnews {
  margin: 0 auto;
  padding: 30px 20px;
  height: 1130px;
}
body.default .subnews_list li {
  display: block;
  padding: 12px 0;
}
body.default .subnews_list li:not(:last-child) {
  border-bottom: 1px solid #3b4849;
}
body.default .subnews_item {
  display: flex;
  gap: 12px;
  font-size: 20px;
}
@media (orientation:portrait) {
  body.default .subnews_item {
    font-size: 28px;
  }
}
body.default .subnews_item__thumbnail {
  width: 200px;
}
body.default .subnews_item__thumbnail img {
  height: auto;
  width: 200px;
}
body.default .subnews_item__meta {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 200px);
}
body.default .subnews_item__title {
  position: relative;
  color: #3b4849;
  font-weight: bold;
  display: flex;
  align-content: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 100px);
  height: 50px;
}
@media (orientation:portrait) {
  body.default .subnews_item__title {
    width: 100%;
    order: 1;
    white-space: nowrap;
    margin-bottom: 4px;
  }
}
body.default .subnews_item__title p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
@media (orientation:portrait) {
  body.default .subnews_item__title p {
    white-space: nowrap;
  }
}
body.default .subnews_item__description {
  position: relative;
  display: flex;
  align-content: flex-start;
  width: calc(100% - 100px);
  height: 100%;
}
@media (orientation:portrait) {
  body.default .subnews_item__description {
    order: 3;
    width: 100%;
  }
}
body.default .subnews_item__description p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1.2;
}
@media (orientation:portrait) {
  body.default .subnews_item__description p {
    white-space: nowrap;
  }
}
body.default .subnews_item__date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
}
@media (orientation:portrait) {
  body.default .subnews_item__date {
    order: 2;
    justify-content: flex-start;
    position: static;
    width: 100%;
    font-size: 0.8em;
    color: #999;
    margin-bottom: 4px;
  }
}
body.default .subnews_pagination {
  display: flex;
  justify-content: center;
}
body.default .subnews_pagination li {
  margin: 0 4px;
}
body.default .subnews_pagination .page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #FFF;
  background: rgba(17, 44, 42, 0.6);
  font-weight: bold;
}
@media (orientation:portrait) {
  body.default .subnews_pagination .page {
    width: 52px;
    height: 52px;
    font-size: 26px;
  }
}
body.default .subnews_pagination li:not(.active) .page:not(.off):hover {
  cursor: pointer;
  pointer-events: all;
  filter: brightness(110%);
}
body.default .subnews_pagination li.active .page {
  color: #FFF;
  background: #e33f00;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, ::after, ::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
  font-family: sans-serif;
  text-align: left;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::after, blockquote::before, q::after, q::before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

em {
  font-style: italic;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

fieldset {
  min-width: 0;
}

legend {
  max-width: 100%;
  white-space: normal;
  color: inherit;
  display: block;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

output {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*# sourceMappingURL=article.css.map*/