@import "../index.scss";
@import "./sprites";

.gunny_float_left {
	position: absolute;
	top: 200px;
	left: 20px;
	z-index: 1000;
	pointer-events: all;
	transform-origin: top left !important;

	.left {
		background-image: url("./assets/images/bg.png");
		width: 201px;
		height: 580px;
		z-index: 1000;
		box-sizing: border-box;
		padding-inline: 28px;
		gap: 10px;
		padding-top: 120px;
		padding-inline: 5px;

		li {
			margin-bottom: 36px;
		}

		a {
			font-family: svnBango;
			font-weight: 300;
			color: white;
			font-size: 22px;
			display: flex;
			justify-content: center;
			&:hover {
				color: yellow;
			}
		}
	}
}
