<div id="popup-confirm" class="popup" data-block-id="{{ blockId }}">
	<div
		class="popup__background">
		{# NOTE: add background images and video here #}
		<span id="{{ blockId }}{{ blockIdPostFix }}-scrollwatch-pin" class="scrollwatch-pin"></span>
	</div>
	<div class="popup__content">
		<div class="popup-container scaleDesktop scaleMobile" data-desktop-origin="center center" data-mobile-origin="center center">
			<button class="close-btn">Close</button>
			<div class="center">
				<div class="text-wrap">
					<div class="text">Bạn có chắc đây là nhân vật bạn muốn</div>
					<div class="text">tham gia sự kiện? Sau khi xác nhận sẽ không thể thay đổi</div>
				</div>
				<button class="btn">Xác Nhận</button>
			</div>
		</div>
	</div>
</div>
