@import "../index.scss";
@import "./sprites";

.floating {
	.gunny_float_bottom {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1000;
		pointer-events: all;
		transform-origin: right bottom !important;

		.bottom {
			background-image: url("./assets/images/bg.jpg");
			width: 768px;
			height: 132px;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			z-index: 1000;
			box-sizing: border-box;
			padding-inline: 28px;
			gap: 10px;

			.bottom-text {
				color: white;
				padding-top: 22px;
				font-size: 26px;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				text-align: center;
			}
		}
	}
}
