// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bachdiemthanhho-mobile-name: 'bachdiemthanhho-mobile';
$bachdiemthanhho-mobile-x: 670px;
$bachdiemthanhho-mobile-y: 388px;
$bachdiemthanhho-mobile-offset-x: -670px;
$bachdiemthanhho-mobile-offset-y: -388px;
$bachdiemthanhho-mobile-width: 206px;
$bachdiemthanhho-mobile-height: 206px;
$bachdiemthanhho-mobile-total-width: 1118px;
$bachdiemthanhho-mobile-total-height: 841px;
$bachdiemthanhho-mobile-image: 'assets/_sprites.png';
$bachdiemthanhho-mobile: (670px, 388px, -670px, -388px, 206px, 206px, 1118px, 841px, 'assets/_sprites.png', 'bachdiemthanhho-mobile', );
$bachdiemthanhho-name: 'bachdiemthanhho';
$bachdiemthanhho-x: 0px;
$bachdiemthanhho-y: 0px;
$bachdiemthanhho-offset-x: 0px;
$bachdiemthanhho-offset-y: 0px;
$bachdiemthanhho-width: 333px;
$bachdiemthanhho-height: 321px;
$bachdiemthanhho-total-width: 1118px;
$bachdiemthanhho-total-height: 841px;
$bachdiemthanhho-image: 'assets/_sprites.png';
$bachdiemthanhho: (0px, 0px, 0px, 0px, 333px, 321px, 1118px, 841px, 'assets/_sprites.png', 'bachdiemthanhho', );
$choi-ngay-button-name: 'choi-ngay-button';
$choi-ngay-button-x: 0px;
$choi-ngay-button-y: 646px;
$choi-ngay-button-offset-x: 0px;
$choi-ngay-button-offset-y: -646px;
$choi-ngay-button-width: 207px;
$choi-ngay-button-height: 195px;
$choi-ngay-button-total-width: 1118px;
$choi-ngay-button-total-height: 841px;
$choi-ngay-button-image: 'assets/_sprites.png';
$choi-ngay-button: (0px, 646px, 0px, -646px, 207px, 195px, 1118px, 841px, 'assets/_sprites.png', 'choi-ngay-button', );
$gaykylan-mobile-name: 'gaykylan-mobile';
$gaykylan-mobile-x: 935px;
$gaykylan-mobile-y: 697px;
$gaykylan-mobile-offset-x: -935px;
$gaykylan-mobile-offset-y: -697px;
$gaykylan-mobile-width: 150px;
$gaykylan-mobile-height: 143px;
$gaykylan-mobile-total-width: 1118px;
$gaykylan-mobile-total-height: 841px;
$gaykylan-mobile-image: 'assets/_sprites.png';
$gaykylan-mobile: (935px, 697px, -935px, -697px, 150px, 143px, 1118px, 841px, 'assets/_sprites.png', 'gaykylan-mobile', );
$gaykylan-name: 'gaykylan';
$gaykylan-x: 935px;
$gaykylan-y: 356px;
$gaykylan-offset-x: -935px;
$gaykylan-offset-y: -356px;
$gaykylan-width: 178px;
$gaykylan-height: 169px;
$gaykylan-total-width: 1118px;
$gaykylan-total-height: 841px;
$gaykylan-image: 'assets/_sprites.png';
$gaykylan: (935px, 356px, -935px, -356px, 178px, 169px, 1118px, 841px, 'assets/_sprites.png', 'gaykylan', );
$gunnylogo-name: 'gunnylogo';
$gunnylogo-x: 335px;
$gunnylogo-y: 524px;
$gunnylogo-offset-x: -335px;
$gunnylogo-offset-y: -524px;
$gunnylogo-width: 181px;
$gunnylogo-height: 88px;
$gunnylogo-total-width: 1118px;
$gunnylogo-total-height: 841px;
$gunnylogo-image: 'assets/_sprites.png';
$gunnylogo: (335px, 524px, -335px, -524px, 181px, 88px, 1118px, 841px, 'assets/_sprites.png', 'gunnylogo', );
$hoakhuyen-mobile-name: 'hoakhuyen-mobile';
$hoakhuyen-mobile-x: 335px;
$hoakhuyen-mobile-y: 323px;
$hoakhuyen-mobile-offset-x: -335px;
$hoakhuyen-mobile-offset-y: -323px;
$hoakhuyen-mobile-width: 245px;
$hoakhuyen-mobile-height: 199px;
$hoakhuyen-mobile-total-width: 1118px;
$hoakhuyen-mobile-total-height: 841px;
$hoakhuyen-mobile-image: 'assets/_sprites.png';
$hoakhuyen-mobile: (335px, 323px, -335px, -323px, 245px, 199px, 1118px, 841px, 'assets/_sprites.png', 'hoakhuyen-mobile', );
$hoakhuyen-name: 'hoakhuyen';
$hoakhuyen-x: 335px;
$hoakhuyen-y: 0px;
$hoakhuyen-offset-x: -335px;
$hoakhuyen-offset-y: 0px;
$hoakhuyen-width: 333px;
$hoakhuyen-height: 321px;
$hoakhuyen-total-width: 1118px;
$hoakhuyen-total-height: 841px;
$hoakhuyen-image: 'assets/_sprites.png';
$hoakhuyen: (335px, 0px, -335px, 0px, 333px, 321px, 1118px, 841px, 'assets/_sprites.png', 'hoakhuyen', );
$kungfudaisu-mobile-name: 'kungfudaisu-mobile';
$kungfudaisu-mobile-x: 670px;
$kungfudaisu-mobile-y: 182px;
$kungfudaisu-mobile-offset-x: -670px;
$kungfudaisu-mobile-offset-y: -182px;
$kungfudaisu-mobile-width: 226px;
$kungfudaisu-mobile-height: 204px;
$kungfudaisu-mobile-total-width: 1118px;
$kungfudaisu-mobile-total-height: 841px;
$kungfudaisu-mobile-image: 'assets/_sprites.png';
$kungfudaisu-mobile: (670px, 182px, -670px, -182px, 226px, 204px, 1118px, 841px, 'assets/_sprites.png', 'kungfudaisu-mobile', );
$kungfudaisu-name: 'kungfudaisu';
$kungfudaisu-x: 0px;
$kungfudaisu-y: 323px;
$kungfudaisu-offset-x: 0px;
$kungfudaisu-offset-y: -323px;
$kungfudaisu-width: 333px;
$kungfudaisu-height: 321px;
$kungfudaisu-total-width: 1118px;
$kungfudaisu-total-height: 841px;
$kungfudaisu-image: 'assets/_sprites.png';
$kungfudaisu: (0px, 323px, 0px, -323px, 333px, 321px, 1118px, 841px, 'assets/_sprites.png', 'kungfudaisu', );
$menu-click-name: 'menu-click';
$menu-click-x: 670px;
$menu-click-y: 596px;
$menu-click-offset-x: -670px;
$menu-click-offset-y: -596px;
$menu-click-width: 137px;
$menu-click-height: 43px;
$menu-click-total-width: 1118px;
$menu-click-total-height: 841px;
$menu-click-image: 'assets/_sprites.png';
$menu-click: (670px, 596px, -670px, -596px, 137px, 43px, 1118px, 841px, 'assets/_sprites.png', 'menu-click', );
$menu-unclick-name: 'menu-unclick';
$menu-unclick-x: 518px;
$menu-unclick-y: 524px;
$menu-unclick-offset-x: -518px;
$menu-unclick-offset-y: -524px;
$menu-unclick-width: 137px;
$menu-unclick-height: 43px;
$menu-unclick-total-width: 1118px;
$menu-unclick-total-height: 841px;
$menu-unclick-image: 'assets/_sprites.png';
$menu-unclick: (518px, 524px, -518px, -524px, 137px, 43px, 1118px, 841px, 'assets/_sprites.png', 'menu-unclick', );
$phuonghoanglua-mobile-name: 'phuonghoanglua-mobile';
$phuonghoanglua-mobile-x: 416px;
$phuonghoanglua-mobile-y: 646px;
$phuonghoanglua-mobile-offset-x: -416px;
$phuonghoanglua-mobile-offset-y: -646px;
$phuonghoanglua-mobile-width: 134px;
$phuonghoanglua-mobile-height: 143px;
$phuonghoanglua-mobile-total-width: 1118px;
$phuonghoanglua-mobile-total-height: 841px;
$phuonghoanglua-mobile-image: 'assets/_sprites.png';
$phuonghoanglua-mobile: (416px, 646px, -416px, -646px, 134px, 143px, 1118px, 841px, 'assets/_sprites.png', 'phuonghoanglua-mobile', );
$phuonghoanglua-name: 'phuonghoanglua';
$phuonghoanglua-x: 935px;
$phuonghoanglua-y: 179px;
$phuonghoanglua-offset-x: -935px;
$phuonghoanglua-offset-y: -179px;
$phuonghoanglua-width: 182px;
$phuonghoanglua-height: 175px;
$phuonghoanglua-total-width: 1118px;
$phuonghoanglua-total-height: 841px;
$phuonghoanglua-image: 'assets/_sprites.png';
$phuonghoanglua: (935px, 179px, -935px, -179px, 182px, 175px, 1118px, 841px, 'assets/_sprites.png', 'phuonghoanglua', );
$qua-sinh-nhat-name: 'qua-sinh-nhat';
$qua-sinh-nhat-x: 935px;
$qua-sinh-nhat-y: 0px;
$qua-sinh-nhat-offset-x: -935px;
$qua-sinh-nhat-offset-y: 0px;
$qua-sinh-nhat-width: 183px;
$qua-sinh-nhat-height: 177px;
$qua-sinh-nhat-total-width: 1118px;
$qua-sinh-nhat-total-height: 841px;
$qua-sinh-nhat-image: 'assets/_sprites.png';
$qua-sinh-nhat: (935px, 0px, -935px, 0px, 183px, 177px, 1118px, 841px, 'assets/_sprites.png', 'qua-sinh-nhat', );
$tuonggunny-mobile-name: 'tuonggunny-mobile';
$tuonggunny-mobile-x: 209px;
$tuonggunny-mobile-y: 646px;
$tuonggunny-mobile-offset-x: -209px;
$tuonggunny-mobile-offset-y: -646px;
$tuonggunny-mobile-width: 205px;
$tuonggunny-mobile-height: 160px;
$tuonggunny-mobile-total-width: 1118px;
$tuonggunny-mobile-total-height: 841px;
$tuonggunny-mobile-image: 'assets/_sprites.png';
$tuonggunny-mobile: (209px, 646px, -209px, -646px, 205px, 160px, 1118px, 841px, 'assets/_sprites.png', 'tuonggunny-mobile', );
$tuonggunny-name: 'tuonggunny';
$tuonggunny-x: 670px;
$tuonggunny-y: 0px;
$tuonggunny-offset-x: -670px;
$tuonggunny-offset-y: 0px;
$tuonggunny-width: 263px;
$tuonggunny-height: 180px;
$tuonggunny-total-width: 1118px;
$tuonggunny-total-height: 841px;
$tuonggunny-image: 'assets/_sprites.png';
$tuonggunny: (670px, 0px, -670px, 0px, 263px, 180px, 1118px, 841px, 'assets/_sprites.png', 'tuonggunny', );
$vongtay13tuoi-mobile-name: 'vongtay13tuoi-mobile';
$vongtay13tuoi-mobile-x: 552px;
$vongtay13tuoi-mobile-y: 646px;
$vongtay13tuoi-mobile-offset-x: -552px;
$vongtay13tuoi-mobile-offset-y: -646px;
$vongtay13tuoi-mobile-width: 129px;
$vongtay13tuoi-mobile-height: 136px;
$vongtay13tuoi-mobile-total-width: 1118px;
$vongtay13tuoi-mobile-total-height: 841px;
$vongtay13tuoi-mobile-image: 'assets/_sprites.png';
$vongtay13tuoi-mobile: (552px, 646px, -552px, -646px, 129px, 136px, 1118px, 841px, 'assets/_sprites.png', 'vongtay13tuoi-mobile', );
$vongtay13tuoi-name: 'vongtay13tuoi';
$vongtay13tuoi-x: 935px;
$vongtay13tuoi-y: 527px;
$vongtay13tuoi-offset-x: -935px;
$vongtay13tuoi-offset-y: -527px;
$vongtay13tuoi-width: 179px;
$vongtay13tuoi-height: 168px;
$vongtay13tuoi-total-width: 1118px;
$vongtay13tuoi-total-height: 841px;
$vongtay13tuoi-image: 'assets/_sprites.png';
$vongtay13tuoi: (935px, 527px, -935px, -527px, 179px, 168px, 1118px, 841px, 'assets/_sprites.png', 'vongtay13tuoi', );
$spritesheet-width: 1118px;
$spritesheet-height: 841px;
$spritesheet-image: 'assets/_sprites.png';
$spritesheet-sprites: ($bachdiemthanhho-mobile, $bachdiemthanhho, $choi-ngay-button, $gaykylan-mobile, $gaykylan, $gunnylogo, $hoakhuyen-mobile, $hoakhuyen, $kungfudaisu-mobile, $kungfudaisu, $menu-click, $menu-unclick, $phuonghoanglua-mobile, $phuonghoanglua, $qua-sinh-nhat, $tuonggunny-mobile, $tuonggunny, $vongtay13tuoi-mobile, $vongtay13tuoi, );
$spritesheet: (1118px, 841px, 'assets/_sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
